<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="people.js"></script>
</head>

<body ng-controller="PeopleController">
    
    <h1 class="heading" align="center">Welcome to Quotify!</h1>

    <div class="dark">
        <form class="searchForm">
            <span><input type="text" class="search rounded" placeholder="Search by author name or category...." ng-model="query" align:"center"></span>
        </form>
    </div>

    <div class="left">
        <h1 class="famous-quotes">Famous Quotes</h1> 
    </div>

    <div class="col-md-6">
        <p>
            <select ng-model="orderBy" class="form-control">
                <option value="{{author}}">None</option>
                <option ng-repeat="author in people" value="{{author.author}}">{{author.author}}</option>
            </select>
            sort by author..
        </p>
        <div class="quotes">
            <blockquote class=".blockquote-reverse" ng-repeat="person in people | filter: query | filter: orderBy">
                <blockquote ng-repeat="quote in person.quotes">
                    "{{quote.quote}}"
                </blockquote>
                <footer>{{person.author}}</footer>
            </blockquote>
        </div>
    </div>


    <div class="col-md-6">
        <h1 class="listOfAuth">List of Authors</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Authors</th>
                    <th>Categories</th>
                </tr>
            </thead>
            <tr ng-repeat="person in people">
                <td>{{person.author}}</td>
                <td>{{person.category}}</td>

            </tr>
        </table>

        <h1 class="addAuth">Add authors and assign them Quotes!</h1> 
        <form class="form-horizontal" role="form" ng-submit="add()">
            <div class="form-group">
                <label class="col-sm-2 control-label" style="font-size: w0px;">Author</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Author" ng-model="person.author">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="font-size: w0px;">Quote</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="person.quotes[0].quote" placeholder="Quote"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="font-size: w0px;">Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Category" ng-model="person.category">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </form>

        <form ng-submit="update()">
            <h1 class="updateAuthor">Insert quotes for exsisting authors!</h1>
            <label class="col-sm-2 control-label" style="font-size: w0px;">Choose Author</label>
            <select ng-model="author" class="form-control" ng-options="person.$id as person.author for person in people">
                <option value=""></option>
            </select>


            <input type="text" class="form-control" ng-model="quotes.quote" placeholder="Insert Quote">

            <button type="submit" class="btn btn-default">Insert</button>
        </form>


    </div>

</body>

</html>