@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");
table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}


.form-horizontal{
width: 500px;
}

.famous-quotes{
color: #c0392b;

}

.addAuth{
color: #f39c12;

}

.updateAuthor{
color: #3498db;
}
.listOfAuth{

color: #2ecc71;
}
.form-control{
width: 250px;
}
.heading{
color: #ff5a09;

font-size: 60px;
}

.left
{
    
    
    margin-top: 10px;
    
    padding: 10px;
}

.quotes{

width: 500px;
}

footer{

border-bottom: 1px solid #ff9900;
}

body{

background-color: #393939;
color: #fff;
font-family: Merriweather;
  


}

.searchForm{
	width:500px;
	margin:0 auto;
}
.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	
}

.rounded { 
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
}

input[type=text]{
	color:#000;
    font-size: 15px;
    width: 250px;
    margin-top: 10px;
  
}

textarea{width:300px;}

.dark{
	
}
.dark input[type=text]{
	border:1px solid #2a2e31;
	background-color:#2d3035;
	color:#fff;
    width: 500px;
    height: 40px;
    opacity: 0.6;
    
}

